*{
	margin: 0;
	padding: 0;
}
button{
	outline: none;
}
.container{
	position: relative;

}
canvas{
	position: absolute;
	z-index: 1200;
}

#tool{
	position: absolute;
	width: 430px;
	height: 200px;
	padding: 10px;
	top: 20px;
	left: -10px;
	/* background-color: cyan; */
	z-index: 100;
}
#ctxColor{
	height: 60px;
}
#ctxColor button{
	float: left;
	margin-right: 20px; 
}
#co{
	width: 40px;
	height: 40px;
	font-size: 14px; 
}
.selColor{
	border: 0;
	width: 50px;
	height: 50px;
}

.ctxSize{
	height: 40px;
}

#ctxStyle{
	width: 10px;
	height: 10px;
	border: 1px soild;
	border-radius: 5px;
	background-color: orange;
	margin-top: 10px;
	float: right;
}
h3{

	margin-bottom: 5px;
	font-size: 18px;
}


